:root {
  --nav-bg-color: #5f9ea0;
  --nav-bg-color--border: #222a33;
  --nav-color: #f8f8f8;
  --rest-bg-color: #f8f9f9;
  --rest-font-color: #1f1f1f;
  --main-bg: #fafafa;
  --header-color: #284c6e;
  --article-bg: #fafafa;
  --pre-bg-color: #1a2025;
  --pre-color: rgb(221, 255, 229);
  --button-active-color: #5f9ea0;
  --button-border-color: #cccccc;
  --allert: #d46c6c;
  --input-invalid: #ffecec;
  --input--border: rgb(209, 209, 209);
  --white: #ffffff;
  --grey: #525252;
  --light-grey: #e5e5e5;

  --tr-odd-color: rgb(227, 236, 236);

  /* ---=== Основноые цвета сайта ===--- */
  --green: #6f988b;
  --green-light: #acc9bd;
  --green-extra-light: #e2f3ec;
  --peach: #fac999;
  --orange: #e6790d;
  --orange-dark: #b24201;
  --grey-light: #9e9e9e;
  --opacity--fill: rgba(52, 52, 52, 0.701);
  --opacity--fill--white: rgba(250, 250, 250, 0.66);
  --grey-light--extra: #e0e0e0;
  --grey: #797979;
  --grey-dark: #474747;
  --white: #ffffff;
  --black: #000000;

  --pink: #ffc1fc;
  --blue: #9ac3ff;

  /* Кавычки */
  --quotes: "\201C""\201D""\2018""\2019";
}
